@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Google Sans", sans-serif;
    scroll-behavior: smooth;
}
:root{
    --primary-color:#6484fe;  
    --secondary-color:#3b5098; 
    --yellow-color:#fabc05;
    --blue-color:#6384ff;
    --green-color:#3baa70;
    --red-color: #ff734f;
    --bg-color:#fff;
    --dark-bg-color:#000;
}
header{
    padding: 20px 0;
    text-transform: uppercase;
    background: rgba(59, 80, 152, 0.8);
    color: #fff;
    position: fixed;
    width: 100%;
    z-index: 1000;
}
header div .navListBtn , .removeMenu{
    display: none;
}
header div{
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
header h1{
    font-size: 36px;
    font-weight: 900;
}
header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav ul li a{
    padding: 0 10px;
    font-size: 14px;
    cursor: pointer;
    color: #fff;
    transition: 0.8s ease;
}
header nav ul li a:hover{
    color: #6484fe;
}
.navBtn{
    background: none;
    color: #fff;
    padding: 5px 15px;
    border: #fff 1px solid;
    text-transform: capitalize;
    transition: 0.5s ease;
    cursor: pointer;
}
.navBtn:hover{
    background: #fff;
    color: var(--secondary-color);
}

.heroSection{
    background: var(--primary-color);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 100px;
    margin: 0 auto ;
}
.heroSection img{
    width: 550px;
}

.container{
    width: 300px;
    height: 500px;
    padding-top: 200px;
}
.container h1 , .container span{
    font-size: 30px;
    text-transform: uppercase;
} 

.secTitle{
    font-size: 30px;
    text-align: center;
    text-transform: capitalize;
    position: relative;
    margin:  0 auto 60px auto;
    padding: 10px;
    width: 400px;
    border-bottom: 2px solid var(--secondary-color);
    transition: 0.3s ease;
}
.secTitle:hover{
    border:  2px solid var(--secondary-color);
    border-radius: 25px;
}

.serviceSection{
    padding: 50px 0;
}
.serviceCards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 100px;
}
.serviceCards .card{
    padding: 0 20px;
    width: 300px;
    text-align: center;
}
.cardTitle{
    color: var(--secondary-color);
    margin: 20px 0;
}

.enginSection{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 100px;
}
.smallTitle{
    display: none;
    width: 200px !important;
}
.enginSection div{
    width: 50%;
}
.enginSection div .secTitle{
    margin-left: 0;
    width: 530px;
}
.enginSection div p{
    margin-bottom: 20px;
}
.enginSection div button{
    color: var(--primary-color);
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid var(--primary-color);
    background: #fff;
    cursor: pointer;
    transition: 0.3s ease;
}
.enginSection div button:hover{
    background: var(--primary-color);
    color: #fff;
}

/*Case Study Cards section*/
.caseStudySection{
    margin: 0 auto;
    padding: 50px 0;
}
.caseStudyCards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
.caseStudyCards .card{
    position: relative;
    transition: 0.5s ease;
    width: 350px;
    height: 292px;
    margin: 0 auto;
}
.caseStudyCards .card img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}
.caseStudyCards .cardInfo{
    position: relative;
    color: #fff;
    z-index: 3;
    top: 40%;
    left: 2%;
    text-align: center;
}
.caseStudyCards .cardInfo h4{
    color: #fff;
    font-size: 25px;
    padding-bottom: 5px;
    opacity: 0;
}
.caseStudyCards .cardInfo h4::before{
    content: "";
    position: absolute;
    width: 100px;
    height: 4px;
    background: #fff;
    top: -25px;
    left: 112px;
    transition: 0.7s ease;
}
.caseStudyCards .cardInfo span{
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 500;
    opacity: 0;
}
.caseStudyCards .cardInfo span::after{
    content: "";
    position: absolute;
    width: 100px;
    height: 4px;
    background: #fff;
    bottom: -25px;
    left: 112px;
    transition: 0.7s ease;
}
.caseStudyCards .card::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(13, 36, 63, 0.7);
    z-index: 2;
    opacity: 0;
}
.caseStudyCards .card:hover::before,
.caseStudyCards .card:hover h4,
.caseStudyCards .card:hover span{
    opacity: 1;
}
.caseStudyCards .card:hover span::after{
    bottom: -10px;
}
.caseStudyCards .card:hover h4::before{
    top: -10px;
}

/*Pricing Section*/
.pricingSec{
    margin: 0 auto;
    padding: 50px 0;
}
.pricingCards {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.pricingCards .card{
    width: 270px;
    height: 400px;
    text-align: center;
    cursor: pointer;
    margin: 0 25px;
}
.pricingCards .card .cardTop1{
    background: var(--yellow-color);
}
.pricingCards .card .cardTop2{
    background: var(--blue-color);
}
.pricingCards .card .cardTop3{
    background: var(--green-color);
}
.pricingCards .card .cardTop h4{
    color: #fff;
    padding: 30px 0 10px 0;
    font-size: 26px;
    text-transform: uppercase;
}
.pricingCards .card .cardTop .price{
    width: 100px;
    height: 100px;
    outline: solid 8px #b2b2b2a2;
    border-radius: 50%;
    margin: 0 85px;
    color: #000;
    background: #fff;
    z-index: 10;
    position: relative;
    bottom: -15px;
    transition: 0.5s ease;
}
.pricingCards .card .cardTop .price p{
    font-size: 22px;
    font-weight: 700;
    padding-top: 18px;
}
.pricingCards .card .cardTop .price::before{
    content: "";
    width: 120px;
    height: 60px;
    border-radius: 60px 0;
    background: #fff;
    position: absolute;
    bottom: 0px;
    left: -84px;
    z-index: -1;
    mix-blend-mode: multiply;
    background-color: var(--before-background, #fff);
}
.pricingCards .card .cardTop .price::after{
    content: "";
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: -10px;
    right: -100px;
    z-index: -1;
    mix-blend-mode: multiply;
}
.pricingCards .card ul{
    padding: 50px 20px 20px 20px;
    z-index: 200;
    text-align: left;
}
.pricingCards .card .cardBottom1{
    border: solid 2px var(--yellow-color);
}
.pricingCards .card .cardBottom ul li{
    line-height: 25px;
}
.pricingCards .card .cardBottom1 ul li .bx-check-circle{
    color: var(--yellow-color);
}
.pricingCards .card .cardBottom2{
    border: solid 2px var(--blue-color);
}
.pricingCards .card .cardBottom2 ul li .bx-check-circle{
    color: var(--blue-color);
}
.pricingCards .card .cardBottom3{
    border: solid 2px var(--green-color);
}
.pricingCards .card .cardBottom3 ul li .bx-check-circle{
    color: var(--green-color);
}
.pricingCards .card .bx-cross-circle{
    padding-left: 20px;
    color: gray;
}
.pricingCards .card .cardBottom button{
    margin-bottom: 20px;
    background: #fff;
    padding: 5px 15px;
    font-size: 16px;
    font-weight: 800;
    color: rgb(62, 62, 62);
    cursor: pointer;
    transition: 0.5s ease;
}
.pricingCards .card .cardBottom button.btn1{
    border: var(--yellow-color) 2px solid;
}
.pricingCards .card .cardBottom button.btn2{
    border: var(--blue-color) 2px solid;
}
.pricingCards .card .cardBottom button.btn3{
    border: var(--green-color) 2px solid;
}
/*PRICING SECTION HOVER*/
.pricingCards .card:hover .cardTop1 .price,
.pricingCards .card:hover .cardBottom button.btn1{
    background: var(--yellow-color) !important;
    color: #fff;
}
.pricingCards .card:hover .cardTop2 .price,
.pricingCards .card:hover .cardBottom button.btn2{
    background: var(--blue-color) !important;
    color: #fff;
}
.pricingCards .card:hover .cardTop3 .price,
.pricingCards .card:hover .cardBottom button.btn3{
    background: var(--green-color) !important;
    color: #fff;
}

.teamSec{
    text-align: center;
    padding: 50px 0;
}
.teamSec p{
    margin-bottom: 50px;
}
.teamSec .teamCards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
}
.teamSec .teamCards .card{
    width: 260px;
    height: 320px;
    border-radius:10px ;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
.teamSec .teamCards .card h4{
    font-size: 20px;
    line-height: 40px;
    transition: 0.3s ease;
}
.teamSec .teamCards .card img{
    width: 260px;
}
/*Team Section Hover*/
.teamSec .teamCards .card:hover{
  box-shadow: 0 0 8px 1px #00000027;
}
.teamSec .teamCards .card:hover h4{
    color: var(--blue-color);
}
.sliderSec{
    width: 75%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 0;
}
.sliderSec img{
    margin: 0 30px;
    animation: 7s slider infinite;
}
@keyframes slider { 
    25%{
        translate : -240px;
    }
    50%{
        translate: -500px;
    }
    75%{
        translate: -240px;
    }
    100%{
        translate: 0;
    }
}

/*testinomial section*/
.cloudsSlider{
    width: 850px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}
.clouds{
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s ease;
}
.cloud{
    width: 260px;
    margin: 0 10px;
    text-align: center;
    position: relative;
}
.testinomial-cloud{
    width: 260px;
    position: relative;
    height: 195px;
}
.testinomialSec .rectangle{
    width: 260px;
    height: 150px;
    color: #fff;
    padding: 10px 20px 0 20px;
    border-radius: 75px;
    position: relative;
    text-align: center;
}
.testinomialSec .circle{
    position: absolute;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    top: -65px;
    left: 65px;
}
.testinomialSec .clouds .cloud:nth-of-type(1) .rectangle , .testinomialSec .clouds .cloud:nth-of-type(1) .circle{
    background: var(--yellow-color);
}
.testinomialSec .clouds .cloud:nth-of-type(2) .rectangle , .testinomialSec .clouds .cloud:nth-of-type(2) .circle{
    background: var(--blue-color);
}
.testinomialSec .clouds .cloud:nth-of-type(3) .rectangle , .testinomialSec .clouds .cloud:nth-of-type(3) .circle{
    background: var(--green-color);
}
.testinomialSec .clouds .cloud:nth-of-type(4) .rectangle , .testinomialSec .clouds .cloud:nth-of-type(4) .circle{
    background: var(--red-color);
}
.testinomialSec .rectangle p{
    padding: 20px 0;
}
.testinomialSec .rectangle::before{
    position: absolute;
    content: "\2018\2018";
    font-size: 120px;
    padding: 30px;
    color: #fff;
    top: -90px;
    left: 70px;
}
.testinomialSec .clouds .cloud .doted{
    height: 30px;
    width: 1px;
    border-left: dotted 5px var(--blue-color);
    position: absolute;
    top: 160px;
    left: 50%;
}
.testinomialSec .clouds .cloud h4{
    font-size: 22px;
    color: var(--blue-color);
    line-height: 42px;
}
.cloudSlider{
    text-align: center;
    padding: 40px 0;
}
.cloudSlider .cloudBtn1 , .cloudBtn2 , .cloudBtn3{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    box-shadow: 0 0 5px 0 #000;
    cursor: pointer;
    display: inline-block;
    margin: 0 2px;
}
.cloudBtn1{
    background: var(--blue-color);
}
.cloudBtn3{
    display: none;
}

.contactSec form{
    width: 76%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.contactSec form input{
    margin: 2%;
    width: 96%;
    height: 50px;
    padding-left: 25px;
    font-size: 16px;
}
.contactSec form textarea{
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 1%;
    padding-left: 25px;
    padding-top: 15px;
    font-size: 16px;
}
.contactSec form input:nth-of-type(5){
    grid-column-start: 1;
    grid-column-end: 3;
    padding-left: 25px;
    font-size: 16px;
    background: #fff;
    border: var(--blue-color) solid 2px;
    width: 98%;
    margin: 1%;
    color: var(--blue-color);
    transition: 0.3s ease;
    cursor: pointer;
}
.contactSec form input:nth-of-type(5):hover{
    color: #fff;
    background: var(--blue-color);
}
.contactSec form span{
    grid-column-start: 1;
    grid-column-end: 3;
    padding-left: 40%;
    font-size: 20px;
    font-weight: 900;
    color: var(--blue-color);
    margin-top: 15px;
}
.contactSec form span a i{
    font-size: 20px;
    font-weight: 900;
    color: var(--blue-color);
}
.contactSec ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 70px auto;
}
.contactSec ul li h4{
    font-size: 20px;
}
.contactSec ul button{
    background: #fff;
    border: var(--blue-color) solid 2px;
    color: var(--blue-color);
    transition: 0.3s ease;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 7px;
}
.contactSec ul button:hover{
    color: #fff;
    background: var(--blue-color);
}
footer ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    margin: 25px auto;
}
footer ul li span a i{
    color: #000;
}
footer ul li span a i:hover{
    color: var(--blue-color);
}

#progress{
    position: fixed;
    bottom: 25px;
    right: 25px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: none;
    z-index: 2000;
}
#progress i{
    color: var(--blue-color);
    padding-left: 2px;
    width: 34px;
    height: 34px;
    background: #fff;
    border-radius: 50%;
    margin: 3px;
    font-size: 30px;
}

@media only screen and (max-width: 1100px){
    .caseStudyCards{
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 900px){
    header div .navListBtn{
        display: block;
    }
    header nav ul{
        display: block;
    }
    header nav{
        display: none;
        text-align: center;
        position: absolute;
        /*top: 64px;*/
        top: -300px;
        width: 95%;
        background: rgba(59, 80, 152, 0.8);
        left: auto;
        right: auto;
        padding: 25px 0;
        transition: 0.3s ease;
    }
    header nav ul li{
        padding-bottom: 10px;
    }
    .enginSection img{
        width: 300px;
    }
    .heroSection img{
        width: 450px;
    }
    .pricingCards{
        display: block;
    }
    .pricingCards .card{
        margin: 10px auto 50px auto;
    }
    .teamSec .teamCards{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }
    .cloudsSlider{
        width: 560px;
    }
    .cloudBtn3{
        display: inline-block;
    }
}
@media only screen and (max-width: 793px){
    .heroSection{
        display: block;
        text-align: center;
    }
    .container{
        width: 100%;
        height: 100px;
        padding: 75px 100px 100px 100px;
    }
    .heroSection img{
        padding-bottom: 30px;
    }
}
@media only screen and (max-width: 540px) {
    .serviceCards{
        margin: 0 20px;
    }
    .caseStudyCards{
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .enginSection{
        display: block;
        padding: 50px 20px;
        text-align: center;
    }
    .enginSection div .secTitle{
        width: 400px;
        margin: auto auto;
    }
    .enginSection div{
        text-align: center;
        width: 100%;
    }
    .enginSection div p{
        padding-top: 20px;
    }
    .teamSec .teamCards{
        gap: 10px;
    }
    .teamSec .teamCards .card{
        width: 200px;
    }
    .teamSec .teamCards .card img{
        width: 200px;
    }
    .clouds{
        display: block;
        margin: 0 115px;
    }
    .cloud{
        padding-bottom: 75px;
    }
    .testinomialSec{
        width: 500px;
    }
    .cloudSlider{
        display: none;
        width: 500px;
    }
    .contactSec form{
        grid-template-columns: 1fr;
    }
    .contactSec form textarea , .contactSec form input:nth-of-type(5),.contactSec form span{
    grid-column-start: 1;
    grid-column-end: 2;
    }
    .contactSec form span{
        padding-left: 0;
        text-align: center;
    }
    .contactSec ul{
        flex-wrap: wrap;
    }
    .contactSec ul li{
        padding-bottom: 8px;
    }
    footer ul{
        display: block;
        text-align: center;
    }
}
@media only screen and (max-width: 450px){
    .serviceCards{
        display: block;
        text-align: center;
    }
    .serviceCards .card{
        padding-bottom: 30px;
    }
    .secTitle{
        width: 300px;
    }
    .teamSec .teamCards{
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 360px) {
    .secTitle{
        width: 200px;
    }
    .heroSection img{
        width: 300px;
    }
    .enginSection .secTitle:nth-of-type(1){
        display: none;        
    }
    .smallTitle{
        display: block;
    }
    .caseStudyCards .card{
        width: 250px;
        height: 192px;
        margin: 0 auto;
    }
    .caseStudyCards .cardInfo{
        top: 25%;
    }
    .caseStudyCards .cardInfo h4::before,
    .caseStudyCards .cardInfo span::after{
        left: 72px;
    }
    .cloudsSlider{
        margin: 0;
    }
}